#newsroom-story-iframe {
	border:2px;
	overflow-x: hidden;
	overflow-y: auto;
	width:100%;
	margin:0px 0px 0px 5px;
	height:700px;
	padding:0px;
}
	
#newsroom-story-pane {
	display:block;
	width:100%; 
}
#newsroom-story-iframe-header,
#newsroom-story-no-iframe {
	width:100%; 
  text-align:center;
	margin:0px;
	padding:1px;
}

.newsroom-story-summary {
	padding:8px;
	clear:left;
}

.newsroom-story-picture {
	float:left;
	margin:5px 10px 5px 0px;
}

.newsroom-story-incoming {
	padding:8px;
}
.newsroom-vote-widget,
.newsroom-story-summary .newsroom-byline {
	display:inline;
}

#newsroom-display {
	padding:0px;
}

 .newsroom-title {
	font-size:larger;
}

